/*
 * Globals
 */

$primary-color:                   #33C8BB;

$dark-bg-color:                   #2E4146;
$cover-bg-color:                  rgba(33, 41, 45, 0.8);
$quote-bg-color:                  rgba(30, 50, 62, 0.65);             

$light:                           #fff;
$text-color:                      #555;

$light-bg-color:                  #F5F5f5;

$fb-color:                        #35619E; // Facebook color
$tw-color:                        #009ccc; // Twitter color
$pin-color:                       #C72527; // Pinterest color
$inst-color:                      #3E6D91; // Instagram color
$tub-color:                       #3C5B97; // Tumblr color
$yb-color:                        #CE0F14; // Youtube color
$vn-color:                        #00B485; // Vine color
$ln-color:                        #1075AF; // Linkedin color
$gm-color:                        #D44132; // Gmail color

/* Links */
a {
    color: $primary-color;

    &:focus,
    &:hover {
        color: $primary-color;
    }  
}

/* Custom primary button */
.btn-primary {
    color: $light;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus,
    &.active {
        color: $light !important;
        text-shadow: none !important; /* Prevent inheritence from `body` */
        background-color: darken($primary-color, 5%) !important;
        border: 1px solid darken($primary-color, 5%) !important;
        box-shadow: none;
    }
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
}
body {
    color: $text-color;
    text-align: center;
    font-family: 'helvetica', 'arial', sans-serif;
}

.container.admin {
    padding-top: 70px;
    text-align: left;

    .btn {
        font-weight: 500;
    }

    .header {
        overflow: auto;

        .btn {
            margin-top: 20px;
        }
    }

    .content {
        margin-top: 50px;

        form {
            width: 300px;
        }

        table {

            td {
                border: none;
            }

            img {
                width: 150px;
            }

            span.name {
                margin-left: 10px;
            }
        }

        &.albums {

            .btn {
                margin-top: 15px;
            }
        }

        .images {

            .image {

                position: relative;
                display: inline-block;
                margin-left: 25px;
                margin-bottom: 25px;
                width: 350px;
                height: 200px;
                background-size: cover;

                &:nth-child(3n+1) {
                    margin-left: 0;
                }

                &.show-delete-btn {

                    .btn {
                        display: block;
                    }
                }

                .btn {
                    float: left;
                    display: none;
                    margin-top: 140px;
                    margin-left: 15px;
                }
            }
        }
    }
}

svg.oblique {
    position: relative;
    margin-bottom: -5px;
    height: 100px;

    .white {
        fill: $light;
    }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    color: $light;

    .cover-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -100px;
        background-image: url('http://finda.photo/image/13143/thumbnail/original');
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $cover-bg-color;
        }
    }

    h2 {
        font-size: 70px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .cover-wrapper-inner {
        display: table-cell;
        vertical-align: top;

        .cover-container {
            position: relative;
            z-index: 10;
            margin-right: auto;
            margin-left: auto;

            .masthead {
                z-index: 1000;
                -webkit-transition: all .25s linear;
                   -moz-transition: all .25s linear;
                     -o-transition: all .25s linear;
                        transition: all .25s linear;

                * {
                    -webkit-transition: all .25s linear;
                       -moz-transition: all .25s linear;
                         -o-transition: all .25s linear;
                            transition: all .25s linear;
                }

                &.scrolled {
                    background-color: rgba(255, 255, 255, .95);
                    -webkit-box-shadow: 0 0 2px #D2D2D2;
                       -moz-box-shadow: 0 0 2px #D2D2D2;
                            box-shadow: 0 0 2px #D2D2D2;

                    .inner {
                        padding-top: 10px;
                        padding-bottom: 10px;

                        .masthead-brand {
                            font-size: 25px;
                            margin-top: 10px;
                        }

                        .masthead-nav {
                            margin-top: -2px;

                            li {

                                a {
                                    color: lighten($text-color, 20%);
                                    border-bottom: 2px solid transparent;

                                    &:hover {
                                        background-color: transparent;
                                        color: $primary-color;
                                    }
                                }

                                &.active a {
                                    color: $primary-color;
                                    border-bottom-color: $primary-color;

                                    &:hover {
                                        color: $primary-color;
                                        border-bottom-color: $primary-color;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            /* Padding for spacing */
            .inner {
                padding: 20px 30px;
                margin: auto;
                overflow: auto;

                /*
                 * Header
                 */
                .masthead-brand {
                    margin-top: 6px;
                    margin-bottom: 10px;
                    color: $primary-color;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: 700;
                    font-size: 30px;
                }

                .masthead-nav {
                    text-transform: uppercase;

                    li + li {
                        margin-left: 20px;
                    }

                    li {
                        display: inline-block;

                        a {
                            padding-right: 0;
                            padding-left: 0;
                            font-size: 16px;
                            font-weight: 700;
                            letter-spacing: 0.1em;
                            color: #fff; /* IE8 proofing */
                            color: rgba(255,255,255,.75);
                            border-bottom: 2px solid transparent;

                            &:hover,
                            &:focus {
                                background-color: transparent;
                                color: $light;
                            }
                        }

                        &.active a {
                            color: #fff;
                            border-bottom-color: #fff;

                            &:hover,
                            &:focus {
                                color: #fff;
                                border-bottom-color: #fff;
                            }
                        }
                    }
                }

                &.cover {
                    padding: 0 20px;

                    .learn-more {
                        margin-top: 80px;

                        .btn-lg {
                            padding: 20px 30px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    
                }
            }
        }
    }
}

.section {
    width: 100%;

    .inner {
        margin: 0 auto;
        padding: 40px 30px 80px 30px
    }
    
    .title {
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.1em;
    }

    .sub-title {
        color: lighten($text-color, 20%);
        font-size: 18px;
    }

    .content {
        padding-top: 50px;
        overflow: auto;
    }

    &.services {

        .service {
            text-align: center;

            .image {
                padding-bottom: 15px;
                font-size: 50px;
            }

            .title {
                text-transform: none;
                font-size: 24px;
                letter-spacing: normal;
            }

            .description {
                color: lighten($text-color, 20%);
            }
        }

        svg.oblique polygon {
            fill: $light-bg-color;
        }
    }

    &.portofolio {
        background-color: $light-bg-color;

        .row:last-child {
            padding-top: 30px;
        }

        .album {
            display: inline-block;
            margin-bottom: 20px;
            padding: 0 10px;
            vertical-align: top;
            width: 330px;
            cursor: pointer;

            .image {
                height: 220px;
                background-size: cover;
            }

            .title {
                padding: 20px 10px 0 10px;
                text-transform: none;
                font-size: 24px;
                background-color: $light;
                letter-spacing: normal;
            }

            .description {
                padding: 5px 10px 30px 10px;
                background-color: $light;
                color: lighten($text-color, 20%);
            }
        }

        svg.oblique polygon {
            fill: $light;
        }
    }

    &.team {

        .member {

            .image {

                img {
                    width: 100%;
                }
            }

            .name {
                padding-top: 25px;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: normal;
            }

            .description {
                padding-top: 10px;
                color: lighten($text-color, 20%);
            }

            .contact {
                margin: auto;
                padding-top: 15px;
                color: $light;

                .item {
                    display: inline-block;
                    margin: 0 5px;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    font-size: 25px;
                    line-height: 40px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.fb {
                        background-color: $fb-color;
                    }

                    &.tw {
                        background-color: $tw-color;
                        font-size: 20px;
                        line-height: 42px;
                    }

                    &.email {
                        background-color: $gm-color;
                    }

                }
            }
        }
    }

    &.quote {
        color: $light;
        background-image: url('http://finda.photo/image/4233/thumbnail/original');
        background-size: cover;

        // &:before {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background-color: $quote-bg-color;
        // }

        .bg-color {
            background-color: $quote-bg-color;
        }

        svg.oblique polygon {
            
            &.top {
                fill: $light;
            }

            &.bottom {
                fill: $dark-bg-color;
            }
        }

        .inner {
            position: relative;
        }

        span.color {
            color: $primary-color;
        }
    }

    &.contact {
        background-color: $dark-bg-color;
        color: $light;

        .sub-title {
            color: darken($light, 10%);
        }

        form {
            text-align: left;

            label {
                color: darken($light, 10%);
                font-size: 24px;
                font-weight: 500;
            }

            input {
                padding: 22px 12px;
                border-radius: 0;
                font-size: 16px;

                &::-webkit-input-placeholder { color: lighten($text-color, 40%); }

                /* Firefox 4-18 */
                &:-moz-placeholder { color: lighten($text-color, 40%); }

                /* Firefox 19+ */
                &::-moz-placeholder { color: lighten($text-color, 40%); }

                /* IE10+ */
                &:-ms-input-placeholder { color: lighten($text-color, 40%); }

                &.error {
                    padding: 21px 12px;
                    border: 2px solid #FF4545;
                }
            }

            textarea {
                padding: 12px;
                height: 145px;
                border-radius: 0;
                font-size: 16px;

                &::-webkit-input-placeholder { color: lighten($text-color, 40%); }

                /* Firefox 4-18 */
                &:-moz-placeholder { color: lighten($text-color, 40%); }

                /* Firefox 19+ */
                &::-moz-placeholder { color: lighten($text-color, 40%); }

                /* IE10+ */
                &:-ms-input-placeholder { color: lighten($text-color, 40%); }

                &.error {
                    padding: 11px 12px;
                    border: 2px solid #FF4545;
                }
            }

            .btn {
                margin-top: 55px;
                border-radius: 0;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    &.map {

        svg.oblique {
            z-index: 5;

            polygon {

                &.top {
                    fill: $dark-bg-color;
                }

                &.bottom {
                    fill: darken($dark-bg-color, 5%);
                }
            }
        }

        #map-container {
            margin-top: -100px;
            margin-bottom: -100px;
            height: 500px;
        }
    }

    &.footer {
        text-align: left;
        background-color: darken($dark-bg-color, 5%);
        color: $light;

        .title {
            text-transform: none;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: normal;
        }

        .description {

        }

        .details {
            padding-top: 20px;

            .item {
                padding-top: 10px;

                &:first-child {
                    padding-top: 0;
                }

                .icon {
                    padding-right: 10px;
                }

                .text {

                }
            }
        }

        .social {
            color: $light;

            .item {
                display: inline-block;
                padding: 0;
                margin-top: 20px;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                font-size: 25px;
                line-height: 40px;
                border-radius: 50%;
                cursor: pointer;
                text-align: center;

                &.fb {
                    background-color: $fb-color;
                    margin-left: 0;
                }

                &.tw {
                    background-color: $tw-color;
                    font-size: 20px;
                    line-height: 42px;
                }

                &.pin {
                    background-color: $pin-color;
                }

                &.yb {
                    background-color: $yb-color;
                }

                &.gp {
                    background-color: $gm-color;
                }
            }
        }
    }
}

.copyright {
    padding: 30px 30px 15px 30px;
    text-align: center;
    background-color: darken($dark-bg-color, 10%);
}

